# Etherscan csv Reader

In [2]:
import numpy as np
import pandas as pd

import plotly.express as px
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib.inline'

In [ ]:
file_path = "export-0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045.csv"

In [ ]:
df = pd.read_csv(file_path, index_col=False)

In [ ]:
display(df)

,Txhash,Blockno,UnixTimestamp,DateTime,From,To,ContractAddress,Value_IN(ETH),Value_OUT(ETH),CurrentValue @ $1612.45/Eth,TxnFee(ETH),TxnFee(USD),Historical $Price/Eth,Status,ErrCode,Method
0,0xd62053c4465251ceb75624d7447bda963863901cc316...,14116900,1643675365,2022-02-01 00:29:25,0x40fcbb53203afb640e716a9cc2d6720e36d9c9c9,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,0.000000e+00,0.0,0.000000e+00,0.002739,4.415986,2790.15,NaN,NaN,Transfer
1,0xfd2968d66b6a071170b5e787997e711a9f5dd2f49a53...,14116900,1643675365,2022-02-01 00:29:25,0x40fcbb53203afb640e716a9cc2d6720e36d9c9c9,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,0.000000e+00,0.0,0.000000e+00,0.002739,4.415986,2790.15,NaN,NaN,Transfer
2,0x2802dd45df894e1ce9aa61adcbbbae80f3988a977da9...,14116901,1643675394,2022-02-01 00:29:54,0x40fcbb53203afb640e716a9cc2d6720e36d9c9c9,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,0.000000e+00,0.0,0.000000e+00,0.003077,4.961606,2790.15,NaN,NaN,Transfer
3,0xbb68b286b3600a2adfec9ddf899acfe5ec725dc84b33...,14135315,1643921965,2022-02-03 20:59:25,0x272f129fd030313d0aa848da230419f61e7cb3a9,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,0.000000e+00,0.0,0.000000e+00,0.004375,7.054820,2697.18,NaN,NaN,Transfer
4,0x9503d3cd397c805a63570f5f4640d26203a9b8efea57...,14159311,1644242167,2022-02-07 13:56:07,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,0x981c8ecd009e3e84ee1ff99266bf1461a12e5c68,NaN,0.000000e+00,10.0,1.612450e+04,0.012800,20.638605,3141.38,NaN,NaN,Pay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,0x34d1dd91a8ef4db8b5ec3a0e4bcbe979b6baa577d9d3...,16492380,1674752855,2023-01-26 17:07:35,0x0697bea0180454ff89c62c54815a29c48380dead,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,0.000000e+00,0.0,0.000000e+00,0.000751,1.211200,1601.35,NaN,NaN,0x77652061
534,0x5ce02f6e35417bcb4ef813c47d246d625c2edc8e4bc4...,16492605,1674755567,2023-01-26 17:52:47,0xd55f5887fcfb24ab61b57a3fe011998425c0fc41,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,1.000000e-04,0.0,1.612450e-01,0.000491,0.791192,1601.35,NaN,NaN,Transfer
535,0xe6b90c53973f42958b460a93c54b007b358a9bc42231...,16496930,1674807767,2023-01-27 08:22:47,0xdb306e5c24cd28a02b50c6f893d46a3572835195,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,0.000000e+00,0.0,0.000000e+00,0.000314,0.505764,1597.86,NaN,NaN,Transfer
536,0x2a6d0295fe9ecc34e51d68ddbb3306021d0a511b35ad...,16510003,1674965423,2023-01-29 04:10:23,0x1adf5e6935cf73fe665cd4d5cfe99312f6b1dfac,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,1.000000e-10,0.0,1.612450e-07,0.000357,0.575042,NaN,NaN,NaN,Transfer
537,0x81e7d84ed2fcf3dab982b315d3ed1ac4b2b08da81e53...,16513090,1675002707,2023-01-29 14:31:47,0xef6d82621a17dd91f341035eb273d53396d1674c,0xd8da6bf26964af9d7eed9e03e53415d37aa96045,NaN,1.000000e-05,0.0,1.612450e-02,0.000375,0.605098,NaN,NaN,NaN,0x536e616b

In [ ]:
df.dtypes

Txhash                          object
Blockno                          int64
UnixTimestamp                    int64
DateTime                        object
From                            object
To                              object
ContractAddress                float64
Value_IN(ETH)                  float64
Value_OUT(ETH)                 float64
CurrentValue @ $1612.45/Eth    float64
TxnFee(ETH)                    float64
TxnFee(USD)                    float64
Historical $Price/Eth          float64
Status                          object
ErrCode                         object
Method                          object
dtype: object

In [ ]:
df.describe()

,Blockno,UnixTimestamp,ContractAddress,Value_IN(ETH),Value_OUT(ETH),CurrentValue @ $1612.45/Eth,TxnFee(ETH),TxnFee(USD),Historical $Price/Eth
count,5.380000e+02,5.380000e+02,0.0,538.000000,538.000000,5.380000e+02,538.000000,538.000000,536.000000
mean,1.543531e+07,1.661379e+09,NaN,0.000527,22.035189,3.553149e+04,0.002645,4.265626,1775.949590
std,6.924455e+05,9.105197e+06,NaN,0.002349,104.048715,1.677732e+05,0.006511,10.499079,638.926237
min,1.411690e+07,1.643675e+09,NaN,0.000000,0.000000,0.000000e+00,0.000042,0.067723,994.410000
25%,1.482225e+07,1.653206e+09,NaN,0.000000,0.000000,0.000000e+00,0.000341,0.549770,1296.010000
50%,1.551978e+07,1.662970e+09,NaN,0.000000,0.000000,0.000000e+00,0.000780,1.257440,1576.350000
75%,1.600367e+07,1.668856e+09,NaN,0.000010,0.000000,6.731452e-01,0.002363,3.810167,1977.435000
max,1.651309e+07,1.675003e+09,NaN,0.027000,1000.000000,1.612450e+06,0.056840,91.652119,3520.150000

In [ ]:
print(f" Data from {min(df['DateTime'])} to {max(df['DateTime'])}")

 Data from 2022-02-01 00:29:25 to 2023-01-29 14:31:47

## Plotting Data

In [ ]:
df.columns

Index(['Txhash', 'Blockno', 'UnixTimestamp', 'DateTime', 'From', 'To',
       'ContractAddress', 'Value_IN(ETH)', 'Value_OUT(ETH)',
       'CurrentValue @ $1612.45/Eth', 'TxnFee(ETH)', 'TxnFee(USD)',
       'Historical $Price/Eth', 'Status', 'ErrCode', 'Method'],
      dtype='object')

In [ ]:
ethprice = df['Historical $Price/Eth']
Date = df['Historical $Price/Eth']

In [ ]:
fig = px.line(df, x="x", y="y", title="Unsorted Input") 
fig.show()